:root {
  --body-background-color: #fff;
  --body-color: #e00;
  --body-font-weight: 800;
  --body-font-size: 30px;
  --h1-font-size: 40px;
  --a-color: #e00;
  --a-active-color: #ce412a;
  --a-hover-color: #000;
  --button-background-color: #e00;
  --button-color: #fff;
}

body {
  background-color: var(--body-background-color);
  color: var(--body-color);
  font-family: "Open Sans Condensed", sans-serif;
  font-weight: var(--body-font-weight);
  font-size: var(--body-font-size);
  line-height: 1.2;
  padding: 20px;
  text-align: center;
}

table {
  display: inline-block;
  border: ridge 5px;
  border-color: #e00;
  background-color: #fff;
  color: #e00;
}

td {
  border: solid 2px #e00;
}

thead {
  font-size: 24px;
}

h1 {
  font-size: var(--h1-font-size);
  line-height: 1.5;
}

a {
  color: var(--a-color);
  transition: 0.5s color;
}

a:active {
  color: var(--a-active-color);
}

a:hover {
  text-decoration: none;
  color: var(--a-hover-color);
}

button {
  border: none;
  font-family: inherit;
  background-color: var(--button-background-color);
  color: var(--button-color);
  margin: 10px;
  transition: 1s opacity;
}

button:hover,
button:focus {
  cursor: pointer;
  opacity: 0.5;
  transform: scale(2);
}

.page-header {
  display: flex;
  width: 100%;
  padding: 20px;
  border-bottom: 5px solid #e00;
}

.page-header__item {
  flex: 0 1 200px;
}

.page-header__item:first-child {
  border: solid 10px;
}

.page-header__item:last-child {
  flex-grow: 1;
  text-align: right;
}

li {
  list-style-type: none;
}

.navigation-list li {
  display: inline-block;
  margin-left: 15px;
}

* {
  box-sizing: border-box;
}

.profile {
  max-width: 700px;
  margin: 20px auto;
  border: 5px;
  text-align: center;
  vertical-align: middle;
  height: 100%;
  display: inline-table;
}

.grid {
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-template-rows: auto auto;
  text-align: center;
  grid-gap: 20px;
}

.grid__item {
  background-color: #e00;
  color: #fff;
}

.profile-pic {
  width: 175px;
  border-radius: 25%;
  margin: auto;
}

.page-footer {
  display: flex;
  text-align: center;
  clear: both;
  flex-direction: column;
  color: black;
}

svg {
  margin: 25px;
}

@media all and (max-width: 700px) {
  .grid {
    grid-template-columns: 1fr;
  }

  h1 {
    font-size: 16px;
  }
}

@keyframes color-change {
  from {
    fill: #edc655;
  }

  to {
    fill: #f76414;
  }
}

@keyframes rotate-pic {
  from {
    transform: rotate(0deg) scale(1, 1);
  }

  to {
    transform: rotate(90deg) scale(2, 2);
  }
}

.bee-kind {
  animation: 5s rotate-pic infinite alternate ease;
}

.st3 {
  animation: 1s color-change infinite normal ease-out;
}

.label-standard,
.input-standard {
  align-items: left;
  display: inline-block;
  width: 100%;
  float: left;
  margin-bottom: 5px;
}

form {
  margin: auto;
  width: 500px;
}
