/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

body {
  background-color: #fff;
  color: #e00;
  font-family: "Open Sans Condensed", sans-serif;
  font-weight: 800;
  font-size: 30px;
  line-height: 1.2;
  padding: 20px;
  text-align: center;
}

table {
  display: inline-block;
  border: ridge 5px black;
  border-color: #e00;
  background-color: #fff;
  color: #e00;
}

td {
  border: solid 2px #e00;
}

thead {
  font-size: 24px;
}

h1 {
  font-size: 40px;
  line-height: 1.5;
}

a {
  color: #e00;
  -webkit-transition: 0.5s color;
  -o-transition: 0.5s color;
  transition: 0.5s color;
}

a:active {
  color: #ce412a;
}

a:hover {
  text-decoration: none;
  color: #000;
}

button {
  border: none;
  font-family: inherit;
  background-color: #e00;
  color: #fff;
  margin: 10px;
  -webkit-transition: 1s opacity;
  -o-transition: 1s opacity;
  transition: 1s opacity;
}

button:hover,
button:focus {
  cursor: pointer;
  opacity: 0.5;
  -webkit-transform: scale(2);
      -ms-transform: scale(2);
          transform: scale(2);
}

.page-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  padding: 20px;
  border-bottom: 5px solid #e00;
}

.page-header__item {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 200px;
          flex: 0 1 200px;
}

.page-header__item:first-child {
  border: solid 10px;
}

.page-header__item:last-child {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  text-align: right;
}

li {
  list-style-type: none;
}

.navigation-list li {
  display: inline-block;
  margin-left: 15px;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.profile {
  max-width: 700px;
  margin: 20px auto;
  border: 5px;
  text-align: center;
  vertical-align: middle;
  height: 100%;
  display: inline-table;
}

.profile-pic-div {
  text-align: center;
  margin: auto;
  vertical-align: middle;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: auto;
  float: left;
}

.profile-text {
  vertical-align: middle;
  display: inline-block;
  height: auto;
  margin: auto;
}

.grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto 20px auto 20px auto 20px auto;
  grid-template-columns: auto auto auto auto;
  -ms-grid-rows: auto 20px auto;
  grid-template-rows: auto auto;
  text-align: center;
  grid-gap: 20px;
}

.grid > *:nth-child(1) {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
}

.grid > *:nth-child(2) {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
}

.grid > *:nth-child(3) {
  -ms-grid-row: 1;
  -ms-grid-column: 5;
}

.grid > *:nth-child(4) {
  -ms-grid-row: 1;
  -ms-grid-column: 7;
}

.grid > *:nth-child(5) {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
}

.grid > *:nth-child(6) {
  -ms-grid-row: 3;
  -ms-grid-column: 3;
}

.grid > *:nth-child(7) {
  -ms-grid-row: 3;
  -ms-grid-column: 5;
}

.grid > *:nth-child(8) {
  -ms-grid-row: 3;
  -ms-grid-column: 7;
}

.grid__item {
  background-color: #e00;
  color: #fff;
}

.profile-pic {
  width: 200px;
  border-radius: 50%;
}

.page-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  clear: both;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: black;
}

svg {
  margin: 25px;
}

@media all and (max-width: 700px) {
  .grid {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }

  h1 {
    font-size: 16px;
  }
}

@-webkit-keyframes color-change {
  from {
    fill: #edc655;
  }

  to {
    fill: #f76414;
  }
}

@keyframes color-change {
  from {
    fill: #edc655;
  }

  to {
    fill: #f76414;
  }
}

@-webkit-keyframes rotate-pic {
  from {
    -webkit-transform: rotate(0deg) scale(1, 1);
            transform: rotate(0deg) scale(1, 1);
  }

  to {
    -webkit-transform: rotate(90deg) scale(2, 2);
            transform: rotate(90deg) scale(2, 2);
  }
}

@keyframes rotate-pic {
  from {
    -webkit-transform: rotate(0deg) scale(1, 1);
            transform: rotate(0deg) scale(1, 1);
  }

  to {
    -webkit-transform: rotate(90deg) scale(2, 2);
            transform: rotate(90deg) scale(2, 2);
  }
}

.bee-kind {
  -webkit-animation: 5s rotate-pic infinite alternate ease;
          animation: 5s rotate-pic infinite alternate ease;
}

.st3 {
  -webkit-animation: 1s color-change infinite normal ease-out;
          animation: 1s color-change infinite normal ease-out;
}