:root {
  --body-background-color: #fff;
  --body-color: #ab2b2b;
  --body-font-weight: 800;
  --body-font-size: 30px;
  --h1-font-size: 40px;
  --a-color: #ab2b2b;
  --a-active-color: #ce412a;
  --a-hover-color: #000;
  --button-background-color: #e00;
  --button-color: #fff;
}

body {
  background-color: var(--body-background-color);
  color: var(--body-color);

  /* font-family: "Open Sans Condensed", sans-serif; */
  font-family: 'Oswald', sans-serif;
  font-weight: var(--body-font-weight);
  font-size: var(--body-font-size);
  line-height: 1.2;
  padding-top: 20px;
  padding-bottom: 0;
  text-align: center;
  width: 100%;
  background-image: url(../img/bg.jpeg);
  background-size: cover;                      /* <------ */
  background-repeat: no-repeat;
  background-position: center center;
}

table {
  display: inline-block;
  border: ridge 5px;
  border-color: #ab2b2b;
  background-color: #fff;
  color: #e00;
}

td {
  border: solid 2px #e00;
}

thead {
  font-size: 24px;
}

h1 {
  font-size: var(--h1-font-size);
  font-family: 'Benne', serif;
  line-height: 1.5;
}

h2 {
  font-size: 30px;
  font-family: 'Oswald', sans-serif;
}

a {
  color: var(--a-color);
  transition: 0.5s color;
}

a:active {
  color: var(--a-active-color);
  text-decoration: none;
}

a:hover {
  text-decoration: none;
  color: var(--a-hover-color);
}

button {
  border: none;
  font-family: inherit;
  background-color: var(--button-background-color);
  color: var(--button-color);
  margin: 10px;
}

button:hover,
button:focus {
  cursor: pointer;

  /* opacity: 0.5; */
  outline: none;
}

.page-header {
  display: flex;
  width: 100%;
  padding-left: 10px;
  padding-right: 10px;
  border-bottom: 5px solid #ab2b2b;
  margin-bottom: 50px;
}

.page-header__item {
  flex: 0 1 200px;
}

.page-header__item:first-child {
  border: solid 10px;
}

.page-header__item:last-child {
  flex-grow: 1;
  text-align: right;
}

li {
  list-style-type: none;
}

.navigation-list li {
  display: inline-block;
  margin-left: 15px;
}

* {
  box-sizing: border-box;
}

.profile {
  margin-left: 10%;
  max-width: 100%;
  text-align: left;

  /* border: 5px solid #ab2b2b; */

  /* border-radius: 25%; */

  /* animation: spin 3s linear 1; */
}

.profile-text {
  color: black;
  width: 60%;
  text-align: left;
  margin: auto;
  margin-left: 23%;
}

.grid {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-rows: auto auto;
  text-align: center;
  grid-gap: 20px;
  margin-top: -50px;
}

.grid__item {
  background-color: #fff;
  color: #000;
  border: 5px solid;
  border-color: #ab2b2b;
  border-radius: 5%;

  /* border-style: dotted; */
}

.grid__item:first-child {
  grid-column: 1/1;
  grid-row: 1/3;
}

.profile-pic {
  height: 200px;
  width: 180px;
  margin-top: 5%;

  /* margin-right: 10px; */
  border-radius: 25%;

  /* float: left; */
  float: left;
}

.page-footer {
  display: flex;
  text-align: center;
  clear: both;
  flex-direction: column;
  color: #0c0;
  margin-top: 30px;
}

svg {
  margin: 25px;
}

@media all and (max-width: 700px) {
  .grid {
    grid-template-columns: auto;
  }

  /* .grid__item:last-child {
    grid-column: auto / auto;
    grid-row: auto / auto;
  } */
}

@keyframes color-change {
  from {
    fill: #edc655;
  }

  to {
    fill: #f76414;
  }
}

@keyframes rotate-pic {
  from {
    transform: rotate(0deg) scale(1, 1);
  }

  to {
    transform: rotate(90deg) scale(2, 2);
  }
}

.bee-kind {
  animation: 5s rotate-pic infinite alternate ease;
}

.st3 {
  animation: 1s color-change infinite normal ease-out;
}

.label-standard,
.input-standard {
  align-items: left;

  /* display: inline-block; */
  width: 100%;
  float: left;
  margin-bottom: 5px;
}

form {
  margin: auto;
  width: 500px;
}

.portfolio-logo {
  font-family: "Lobster";
}

.screenshot {
  height: 350px;
  width: 170px;
}

.buttons {
  width: 50%;
  text-align: left;

  /* margin: auto; */
}

.welcome-text {
  color: #e00;

  /* animation: welcome-animation 5s 1; */
  font-family: 'Benne', serif;
}

/* .about-text {
  animation: switch 5s 1;
} */

@keyframes welcome-animation {
  0% {
    transform: translateY(-200%);
  }

  100% {
    transform: translateY(0%);
  }
}

@keyframes switch {
  0% {
    opacity: 0;
    filter: blur(0);
    transform: scale(2);
  }

  100% {
    opacity: 1;
    filter: blur(0);
    transform: scale(1);
  }
}

@keyframes spin {
  100% {
    transform: rotateZ(360deg);
  }
}
